---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lastfm
  labels:
    app.kubernetes.io/name: lastfm
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: lastfm
  template:
    metadata:
      labels:
        app.kubernetes.io/name: lastfm
    spec:
      containers:
        - name: lastfm
          image: lastfm
          env:
            - name: GOWON_BROKER
              value: mosquitto:1883
            - name: GOWON_LASTFM_API_KEY
              value: apikey
          volumeMounts:
            - name: lastfm
              mountPath: /data
      volumes:
        - name: lastfm
          persistentVolumeClaim:
            claimName: lastfm
