---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lastfm
  labels:
    app.kubernetes.io/name: lastfm
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: lastfm
  template:
    metadata:
      labels:
        app.kubernetes.io/name: lastfm
    spec:
      containers:
        - name: lastfm
          image: lastfm
          env:
            - name: GOWON_LASTFM_API_KEY
              value: apikey
            - name: GOWON_LASTFM_KV_PATH
              value: /tmp/kv.db
          ports:
            - containerPort: 8080
              name: http
